<%- include('head.ejs') %>
<header>
  <nav class="nav">
    <h1>E-Colimmerce</h1>
  </nav>
</header>
<main class="main">
    <%- include('form.ejs') %> 
    <%- include('list.ejs') %>
    <%- include('chat.ejs') %>
</main>
<%- include('footer.ejs') %>
